.menu {
    position: fixed;
    max-width: 1200px;
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: end;
    background-color: rgba(153, 153, 153, 0.795);
    right: 0px;
    transition: all 0.3s ease;
    z-index: 10px;
    
    .container {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        gap: 10px;
        padding: 10px;
    }

    .box__menu__icon{
        position: absolute;
        width: 35px;
        height: 35px;
        background-color: #FF8541;
        border-radius: 10px;
        right: 0;
        color: #fff;
        border: none;
    }

    .list {
        height: 30px;
        font-size: 20px;
        color: black;
    }
}

.menu.none {
    right: -10000px;
    transition: all 0.3s ease;
}