.maqolalar {
    width: 90%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    .maqolalar__header {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .name {
        @media screen and (max-width: 425px){
            font-size: 25px;
        }
    }

    .btn {
        width: 140px;
        height: 50px;
        background-color: #fff;
        border: 1px solid black;
        border-radius: 10px;

        @media screen and (max-width: 425px){
            width: 100px;
            height: 40px;
        }
    }

    .box__card {
        width: 100%;
        height: 85%;
        display: flex;
        justify-content: space-between;
        overflow-y: hidden;
        gap: 10px;
    }

    .card {
        min-width: 500px;
        height: 200px;
        display: flex;
        background-color: #F9F8F6;
        border-radius: 10px;
        gap: 20px;
    }

    .card__title {
        width: 55%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .card__name {
        font-size: 25px;
        font-weight: 400;
    }

    .card__text {
        font-size: 14px;
        font-weight: 400;
        color: #555351;
    }
}